@import '../common/all';

#root {
    height: 100%;
}
.body_box {

    font-size: 18px;
    font-weight: bold;
    @include flex(column, center,center );
   height: 100%;

}
.arrow_top {
    @include arrow(top, 8px,green )
}
.content-center {
    flex: 1;
}